.obsidian/
.stfolder/
DRONE 101 Vault/
build/
.cache/
compile_commands.json
*.zip
*.idx
fp-info-cache
fp-lib-table
sdkconfig
sdkconfig.old
current-sense/
current-sense-backups/
gain_stage/
spice_sim/
motor-driver-backups/
.DS_Store
flight-controller-backups/
Library/
.history/
